* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbcd3c;
  background-image: url("77453270b4ad00f74c6bce51a5cd0b6f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #dc143c;
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
}

.search .p {
  color: aliceblue;
  font-weight: bold;
  margin-right: 5px;
}

.search .input1 {
  width: 100%;
}

.search .input1 input {
  width: 100%;
  padding: 3px;
  border: 2px solid #ffd700;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: wheat;
}

.search .input2 input {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  padding: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search .input2 input:hover {
  background-color: red;
  color: white;
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-wrap: wrap-reverse;
  }

  .search {
    width: 100%;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  color: white;
}

.nav-link a {
  justify-content: center;
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-link a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: center;
  }
  .nav-list {
    width: 100%;
  }
  .nav-link {
    flex: 1;
    text-align: center;
  }
  .nav-link a {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: block;
    text-align: center;
    padding: 0;
  }
  .nav-link {
    width: 100%;
    border-bottom: 1px solid wheat;
  }
  .nav-link a {
    padding: 15px;
  }
}

main {
  color: brown;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
}

.header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header .title {
  flex: 1;
}

.header .filter {
  display: flex;
}

.header .filter .dropdown {
  margin-left: 10px;
}

.header .filter .dropdown select {
  width: 150px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #b22222;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  width: 20%;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .products .product {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .products .product {
    width: 33%;
  }
}

.products .product .product-image {
  width: 100%;
  border-radius: 10px;
}

.products .product .product-image:hover {
  opacity: 0.8;
}

.products .product .icon-new {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
}

.products .product .product-name {
  font-weight: bold;
  font-size: larger;
  background-color: white;
  border-radius: 10px;
}

.products .product .product-name:hover {
  opacity: 0.8;
}

.products .product .product-price {
  background-color: wheat;
  border-radius: 10px;
  width: 50px;
}

.footer {
  padding: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  color: red;
}
